header {
    display: flex;
    justify-content: space-between;
}

.right-align {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.right-align a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
}

.right-align div {
    display: flex;
    align-items: center;
    gap: 3rem;
}